@font-face {
    font-family: domain;
    src: url(./DomaineDispCondMedium.ttf);
}
@font-face {
    font-family: new;
    src: url(./EditorialNew-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #222;
    overflow-x: hidden;
}
#page1{
    height: 125vh;
    width: 100vw;
    overflow:hidden;
    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;
}
#nav{
    height: 100px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}
#nav img{
    height: 29px;
    width: 30%;
}
#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}
#nav i{
    width: 30%;
    text-align: right;
}
#elems{
    
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
#elem1{
    width: 30%;
    height: 100%;
}
#elem2{
    width: 30%;
    height: 100%;
    padding: 20px 60px;
    text-align: center;
    border-right:2px solid #a5a5a5 ;
    border-left:2px solid #a5a5a5 ;
}
#elem3{
    width: 30%;
    height: 100%;    
}
#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
    
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition:all ease 0.5s;
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div:hover img{
    scale:1.1;
}
#elem1 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}
#elem1 h4 span{
    background-color: #B43B12;
    color:#C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding:4px;
    border-radius: 5px;
    margin-left: 10px;
}
#elem1 p{
    font-size: 18px;
    font-family:new , sans-serif;
    font-weight: 300; 
   
}

#elem3 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}
#elem3 h4 span{
    background-color: #B43B12;
    color:#C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding:4px;
    border-radius: 5px;
    margin-left: 10px;
}
#elem3 p{
    font-size: 18px;
    font-family:new , sans-serif;
    font-weight: 300;  
}
#elem2 h2{
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
}

#elem2 h3{
    font-family: new , sans-serif;
    font-size: 35px;
    font-weight: 100;
    margin:20px 0;
}
#elem2 h6{
    font-family: new , sans-serif;
    font-size: 20px;
    font-weight: 100;
}
#elem2 h6 span{
    font-weight: 900;
}
#page1 h1{
    font-size: 530px;
    letter-spacing: -20px;
    font-weight: 100;
    font-family: Canopee, sans-serif;
    background-color: #1C1C19;
    color:#C4BCB3;
    line-height: 450px;
    width: 92%;
    margin-left: 4%;
}
#page2{
    height: 150vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
}
#page2-left{
     height: 100%;
     width: 30%;
     padding-right: 50px;
     border-right: 2px solid #a5a5a5;

}
#page2-left h2{
    font-size: 90px;
    font-family: Canopee;
    line-height: 100px;
    font-weight: 100;
    
}
#page2-left h2 span{
    font-size: 150px;
    line-height: 130px;
    font-weight: 900;
    
}
#page2-left img{
    height: 50%;
    width: 100%;
    border: 1px solid black;
    object-fit: cover;
}
#page2-left p{
    font-size:20px;
    font-family: new, sans-serif;
    margin-top: 20px;
}
#page2-left p span{

    font-size: 64px;
    font-weight: bold;     
    color: #C4BCB3;
    background-color: black;
    padding: 4px 8px;      
    margin-right: 2px;      
    float: left;
    line-height: 60px; 
    font-family: Canopee,sans-serif;
    border-radius: 3px;     
}

#page2-right{
    height: 100%;
    width:70%;
    padding: 0 60px;
}
#page2-right img{
    height: 53%;
    width:100%;
    object-fit: cover;
    border: 1px solid black;
}
#page2-right h1{
    font-family: Canopee,sans-serif;
    font-size: 110px;
    font-weight: 100;
    letter-spacing: -1px;
}
#page3{
    padding-bottom: 10px;
    position: relative;
    background-color: #C4BCB3;
}
#page3 h1{
    font-size:400px;
    background-color: #222;
    width: fit-content;
    letter-spacing: -5px;
    font-weight: 100;
    color: #C4BCB3;
    margin-left:2%;
    padding: 0 20PX;
    line-height: 350PX;
    font-family: Canopee;
}
#page3 img{
    height: 350px;
    position: absolute;
    top: 0;
    right: 3%;
}
#page4{
    height: 150vh;
    width: 100%;
    background-color: #C4BCB3;
    
}
#container{
    height: 100%;
    padding: 50px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
#content-left{  
    width: 68%;
    height: 100%;
    padding: 20px 0 0 0;
    margin-left: 2%;
   
    
}
#upper{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#page4-right{
    width: 43%;
    height: 100%;   
}
#page4-right h1{
     font-size: 73px;
     font-family: Canopee,sans-serif;
     font-weight: 100;
     letter-spacing: -4px;
}
#page4-right h3{
    font-size: 43px;
    font-family: new, sans-serif;
    font-weight: 100;
    margin-top: 8px;
    font-weight: 100;
}
#page4-right p{
    font-family: new , sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-top: 15px;
}
#page4-right p span{
    font-weight: 900;
}
#page4-mid{
    width: 57%;
    height: 100%;
    padding: 0 40px;
    border-left:2px solid #a5a5a5;
}
 #page4-mid #page4-img{
    height: 60%;
    width: 90%;
    overflow: hidden;
}
#page4-img img{
     height: 100%;
     width: 100%;
    object-fit: cover;
    transition:all ease 0.5s;
}
#page4-img:hover img{
    scale:1.1;  
}

#page4-mid h3{
    font-size: 30px;
    font-family: new , sans-serif;
    margin-top: 8px;
    font-weight: 900;
    letter-spacing: -2px;
}
#page4-mid p{
    font-size: 18px;
    font-family: new;
    margin-top: 8px;
    width: 400px;
   
}
#lower{
   width: 100%;
   height: 70%;
   padding: 20px 0 0 0;  
  
}
#lower #lower-img{
    padding: 42px 0 0 0 ;
    width: 100%;
    height: 100%;
    overflow: hidden;   
    
}
#lower-img img{
    width: 95%;  
    object-fit: cover;
}

#content-right{
   
    width: 32%;
    height: 100%;
    border-left:2px solid #a5a5a5;
   
}
#right-content{
    padding: 0 20px ;
}
#right-content h1{
     font-size: 100px;
     font-family: Canopee;
     font-weight: 100;
     letter-spacing: -3px;
     line-height: 120px;
}
#right-content h1 span{
    font-size:200px;
}
#right-content p{
    font-size:33px;
    font-family: new, sans-serif;
    margin-top: 20px;
    font-weight: 100;
}
#right-content p span{
    font-size: 100px;
    font-weight: bold;     
    color: #C4BCB3;
    background-color: black;
    padding: 0px 8px;      
    margin-right: 10px;    
    float: left;
    font-family: Canopee,sans-serif;
    border-radius: 3px;  
}

#right-content h3{
    font-size: 30px;
    font-family: new, sans-serif;
    font-weight: 100;
    margin-top: 40px;
}

#right-content #round{
    margin-top: 40px;
    height: 260px;
    width: 100%;
    border: 1px solid #2f2f2fc6;
    background-color: #CAC1B6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;

}
#round h1{
    font-size: 80px;
    font-weight: 100;
    font-family: Canopee;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    transform: translateX(-40%);
    transition: all ease 0.6s;
}
#round img{
    height: 60px;   
    transform: translateX(-120%);
    transition: all ease 0.6s;  
}
#round:hover img{
    transform: translateX(73%); 
}
#round:hover h1{
    transform: translateX(100%); 
}
